body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}

.banner {
  width: 100%;
  background: #8D99AE;
  padding: 170px 0 170px 0;
}

.nav-links ul {
  display: inline-flex;
  padding: 0;
}

.nav-links {
  text-align: center;
  text-transform: capitalize;
  position: fixed;
  top: 10px;
  width: 100%;
}

.nav-links ul li {
  text-align: center;
  background: #D8315B;
  padding: 1rem;
  list-style: none;
}

p {
  margin: 0;
}

.nav-links ul li a {
  padding-left: 0;
}

 ul li a {
  color: #EDF2F4;
  padding-left: 8rem;
  text-decoration: none;
}

ul li a:hover {
  color: #8D99AE;
}

.align-img-text {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
  height: auto;
  overflow: hidden;
  filter: brightness(1);
}

.bg-image {
  background-image: url("https://www.chrisficklingdesign.co.uk/assets/images/responsive-website-design-02-2016.png");
  height: 300px;
  width: 500px;
  background-size: cover;
  background-position: 50% 50%;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #000;
}

button {
  text-transform: uppercase;
  padding: 14px;
  border: none;
  background: #2b2d42;
  color: #edf2f4;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background: #edf2f4;
  color: #2b2d42;
  transition: .3s;
}

.btn-color:hover {
  background-color: #393b4d;
  color: #edf2f4;
}

.margin-right {
  margin-right: 48px;
}

.align-button {
  display: flex;
  justify-content: space-between;
  background: #8D99AE;
  margin-top: 4px;
}

.button1-align {
  margin-left: 200px;
  margin-top: 20px;
}

.img-size {
  width: 500px;
  height: 100vh;
  margin: 40px;
  box-shadow: 1px 1px 2px #000;
}

.card-about {
  background: #edf2f4;
  padding: 16px;
  margin-right: 52px;
}

.margin-top {
  margin-top: 14px;
}

.align-designs {
  display: flex;
  justify-content: center;
}

.background-color {
  background-color: #D8315B;
  padding: 12px;
  margin: 12px;
  color: #edf2f4;
  border-radius: 4px;
}

.icons-color {
  color: #edf2f4;
  padding: 10px;
  border-radius: 50px;
}

.icons-color:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

.font-weight {
  font-weight: 700;
}

.font-weight span {
  font-weight: 100;
}

.background-color-new {
  background-color: #b6c3d9;
  padding: 12px;
  margin: 12px;
  text-align: center;
}

.align-img {
  display: flex;
  flex-grow: 1;
}

.adjust-img:hover {
  flex-grow: 5;

}

.icon-circle-add {
  margin: 4px 0;
}

.icon-circle-add:before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  padding-right: 3px;
}

.align-designs {
  display: flex;
  flex: 0 0 50%;
}

.map-contact-position {
  display: flex;
}

.footer-bg-color {
  background-color: #8D99AE;
  text-align: center;
  padding: 10px;
}

.form-align {
  background-color:  #D8315B;
  padding: 0 250px;
  color: #edf2f4;
}

input {
  color:  #D8315B;
  border: none;
  padding: 8px;
  margin: 6px;
  opacity: .7;
}

.i-bg-color {
  color: #edf2f4;
  padding: 20px 0;
}

.social-icons i {
  font-size: 20px;
}

.social-icons i:hover {
  color: #d7d7d7;;
}

h4 {
  text-transform: uppercase;
}

.font-size-p {
  font-size: 18px;
}


